<h2>New Pokémon</h2>

<form action="/pokemons" method="post" >
  <label>Name:</label>
  <input name="pokemon[name]">

  <label>Image Url:</label>
  <input name="pokemon[img_url]">

  <label>Type:</label>
  <input name="pokemon[poke_type]">

  <label>CP:</label>
  <input name="pokemon[cp]">

  <input type="submit" value="Create">
</form>
