@font-face {
  font-family: "Pokemon";
  src: url(../fonts/PokemonSolid.ttf) format("truetype");
}

a, p, h2, h3 {
  color: rgb(215, 215, 0);
  text-shadow: rgb(35, 75, 180) 3px 3px 1px;
  -webkit-text-stroke: 2px rgb(55, 95, 200);
  text-decoration: none;
  border-radius: 100px;
}


body {
  background-image: url(../images/pokedex.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: "Pokemon", monospace;
  letter-spacing: .25em;
  font-size: 200%;
}

a:hover {
  padding: 20px;
  animation: pulse 1s infinite;
}
.containareon, h1 {
  box-sizing: border-box;
  padding: 10px;
  width: 50%;
  margin: auto;
  background-color: rgba(255, 255, 255, .8);
  text-align: center;
  justify-content: center;
}

.pokemon{
  min-width: 375px;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  margin: 40px;
  box-sizing: border-box;
  border: 15px inset;
  border-radius: 100px;
  border-top-color: rgba(255, 0, 0, .5);
  border-left-color: rgba(255, 0, 0, .5);
  border-right-color: rgba(225, 225, 225, .5);
  border-bottom-color: rgba(225, 225, 225, .5);
}

@keyframes pulse {
  0% {
    text-shadow: 4px 4px 3px rgba(255, 255, 255, .3);
    background-color: rgba(0, 0, 0, .1);
  }
  25% {
    text-shadow: 4px 4px 3px rgba(255, 0, 0, .3);
    background-color: rgba(0, 0, 255, .1);
  }
  50% {
    text-shadow: 4px 4px 3px rgba(55, 55, 55, .3);
    background-color: rgba(255, 0, 0, .1);
  }
  75% {
    text-shadow: 4px 4px 3px rgba(255, 0, 0, .3);
    background-color: rgba(0, 0, 0, .1);
  }
}
